*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ecdbc5;
    font-family: 'Edu SA Beginner', cursive;;
}

header{
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    font-size: 250%;
    font-variant: small-caps;
}

.seperate{
    border-width: 1.5rem;
    border-color: rgb(100, 150, 255);
    border-style: solid;
}

.bodyContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li{
    font-size: 180%;
    padding: 10px;
    background-color: brown;
    border: 10%;
    border-color: blue;
}
nav a{
    color:#000;
    text-decoration: none;
}

