*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1, nav{
    font-family: 'Edu SA Beginner', cursive, Arial, Helvetica, sans-serif;
}

body{
    background-color: #F3CD05;
    font-family: "Open Sans", sans-serif;
}

header{
    border-style: ridge;
    text-align: center;
    font-size: 2vw;
    font-variant: small-caps;
    border-bottom: 2vw dotted #BDA589;
    border-top: 2vw dotted #BDA589 ;
    
}

nav{
    position:sticky;
    position: -webkit-sticky;
    top:0vh;
    background-color: #36688D;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 1.5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 2vw;
    justify-content: center;
    font-size: .8vw;
    align-content: center;
    grid-auto-columns: auto;
}

nav li{
    font-size: 180%;
    padding: .2em;
    background-color: #F49F05;
    border: 10%;
    border-color: blue;
}
nav a{
    color:#000;
    text-decoration: none;
}

.bodyContent{
    display: grid;
    background-color: ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    font-size: 2vw;
    text-align: center;

}

.textbox{
    margin: 10% 10%;
    background-color: #5c85a5;
}

.textbox h1{
    background-color: #F49F05;
    padding: 5%;
}

#contact footer{
    font-size: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.info{
    text-decoration: underline;
    font-weight: 600;
}

.fa-solid{
    color: #d19d42;
    font-size: 150%;
}